<%- include('partials/header') %>

<div class="container-fluid mt-3 p-1 text-center " style="background-color:  #1e3d59; color: white;" >
  <h1>Edit Course </h1>
 </div>

<div class="container mt-4">
  
      <form action="/update/<%= data.id%>" method="POST">
       
        <div class="form-group mt-3">
          <label for="exampleInputEmail1">Course Name</label>
          <input type="text" name = "Coursename" class="form-control" value="<%= data.Coursename %>" placeholder="Course Name">
          
        </div>
        <div class="form-group mt-3">
          <label for="exampleInputEmail1">Course Duration</label>
          <input type="text" name = "duration" class="form-control" value="<%= data.duration%>" placeholder="Course Duration">
          
        </div>
       <div class="form-group mt-3">
          <label for="exampleInputEmail1">Course Fees</label>
          <input type="text"  name = "fees" class="form-control" value="<%= data.fees%>" placeholder="Course Fees">
          
        </div>
        <!-- <a class="btn mt-5 " href="/" style="background-color: #1e3d59; color: white;">View Users</a>
        <button type="submit" class="btn  mt-3 mr-3"style="background-color: #1e3d59; color: white;">Edit User</button> -->
        <a class="btn  mt-4 "href="/" style="background-color: #1e3d59; color: white;">View Courses</a>
        <button type="submit" class="btn  mt-4 ml-3" style="background-color: #1e3d59; color: white;">Edit Course</button>
      </form>
      </div>